body{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
.container{
    display:flex;
}

.contactos{
    flex-basis: 20%;
    min-height:100vh;
    border-right:solid #4d4b3d 1px;
    flex-shrink: 1;
}
.contactos .perfil{
    height: 8.5vh;
    border-bottom: solid #4d4b3d 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-perfil{
    border-radius: 9rem;
    border: solid #0000;
    height: 2rem;
    width: 2rem;
    object-fit: contain;
}
.nom-mg{
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap:0px;
}
.nom-mg P{
    padding: 0;
    margin: 0;
}
.nom-perfil{
    font-size: 1rem;
    color: #1B1F21;
}
.estado-perfil{
    font-size: 0.8rem;
    color: #444749;
}


.contactos .perfil .menuNav{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-left: 30%;
}

.menuNav i:hover{
color:#a491d2
}

.contenedor-btn{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid #4d4b3d 1px;
}

.contenedor-btn .btn-msg{
    height: 3rem;
    width: 60%;
    color: #fff;
    background-color: #a491d2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-msg:hover{
    background-color: #CDC3E6;
}
.btn-msg:focus{
    background-color: #BEC1BB;
}
.contenedor-btn .btn-msg a{
    text-decoration: none;
    color: #fff;
}
.lista-contacto{
    /* height:9.5vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pf-contacto{
    height: 9.5vh;
    border-bottom: solid #4d4b3d 1px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.pf-contacto:hover{
    background-color: #CDC3E6;
}
.foto{
    /* flex-grow: 1; */
    padding: 1rem;
}
.pf-contacto .nom-mg{
    /* flex-grow: 3; */
}

.mensajes{
    flex-basis: 80%;
    min-height:100vh;
    background-color:#bec1bb3c ;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-msg img{
    height: 15rem;
    width: 15rem;
    border-radius: 1rem;
}
.mensajes p{
    padding: 0;
    margin: 0;
} 
.titulo-msg{
    font-size: 3rem;
}

.resaltar{
    font-weight: bold;
}
